.about {
    padding: 120px 0;
    &__information {
        &-paragraph {
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: $grayColor;
            margin-bottom: 20px;
        }
        &-list {
            padding-left: 30px;
            margin-bottom: 30px;
            &--item {
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                color: $grayColor;
                margin-bottom: 15px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -15px;
                    transform: translateY(-50%);
                    width: 12px;
                    height: 12px;
                    background-image: url('../icons/right_pink.svg');
                    background-repeat: no-repeat;                    
                }
            }
        }
    }
}