.cities {
    padding: 120px 0;
    margin-bottom: 120px;
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
    }
    &__item {
        position: relative;
        height: 200px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00000040;
            z-index: 10;
        }
        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-title {
            position: absolute;
            bottom: 35px;
            left: 15px;
            font-weight: 700;
            font-size: 22px;
            line-height: 120%;
            color: $whiteColor;
            z-index: 11;
        }
        &-bottom {
            position: absolute;
            bottom: 15px;
            left: 15px;       
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 5px;
            width: 100%;
            z-index: 11;
            &--info {
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: $whiteColor;
                z-index: 2;
            }    
        }
    }
}