.footer {
    padding: 120px;
    border-top: 3px solid $pinkColor400;
    background-color: $grayColor;
    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 50px;      
    }
    &__nav {
        &-title {
            display: block;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            color: $whiteColor;
            margin-bottom: 15px;
        }
        & > ul {
            & > li {
                & > a {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 120%;
                    color: $whiteColor;
                }                
            }
        }
    }
    &__warning {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 20px 0;
        border-top: 2px solid $whiteColor;
        border-bottom: 2px solid $whiteColor;
        margin-bottom: 30px;
        &-item {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 4px;
            width: 100%;
            max-width: 400px;
            &--text {
                width: 32px;
                height: 32px;
                border-radius: 100%;
                border: 2px solid $whiteColor;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                color: $whiteColor;
            }
            &--doctor {
                 width: 32px;
                height: 32px;
                border-radius: 100%;
                border: 2px solid $whiteColor;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                color: $whiteColor;
            }
            &--icon {
                width: 32px;
                height: 32px;
                border-radius: 100%;
                border: 2px solid $whiteColor;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                color: $whiteColor;
                position: relative;  
                & > img {
                    width: 24px;
                    height: 24px;
                }             
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 2px;
                    background-color: $whiteColor;
                    transform: translate(-50%, -50%) rotate(45deg);                    
                }   
               
            }
            &--info {
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                color: $whiteColor;
            }
        }
    }
    &__contacts {
        &-email {
            display: block;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: $whiteColor;
            margin-bottom: 30px;
            & > span {
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: $whiteColor;
                border-bottom: 1px solid $whiteColor;
            }
        }
        &-copy {
            display: block;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: $whiteColor;
        }
    }
}