.main {
    padding: 120px 0;
    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        color: $blackColor;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &__descr {
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
        color: $blackColor;
        text-align: center;
        margin-bottom: 30px;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        color: $blackColor;
        text-align: center;
        margin-bottom: 30px;
    }
    &__users {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        &-user {
            width: 100%;
            max-width: 252px;
            &--img {
                width: 252px;
                height: 252px;
                & > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &--title {
                font-weight: 700;
                font-size: 22px;
                line-height: 120%;
                color: $pinkColor400;
                text-align: center;
                margin-bottom: 20px;
            }
            &--descr {
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: $blackColor;
                text-align: left;
                margin-bottom: 20px;
            }
            &--cytis {
                border: 1px solid $pinkColor400;
                padding: 10px 15px;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: $pinkColor400;
                text-align: left;
                margin-bottom: 20px;
                transition: all .3s ease;
                &:hover {
                    border: 1px solid $pinkColor300;
                    color: $pinkColor300;
                }
            }
            &--buttons {
                display: flex;
                align-items: center;
                justify-content: start;
                flex-direction: column;
                gap: 10px;;
            }
        }       
    }
}