.header__nav-mobile {
   position: absolute;
   top: 0;
   right: -100%;
   background-color: $pinkColor400;
   height: 100vh;
   width: 70%;
   padding: 70px 0 0 30px;
   z-index: 20;
   transition: all .4s ease;
    & > ul {
        & > li { 
            display: block;
            width: 100%;
            max-width: 200px;      
            margin-bottom: 30px;  
            &:hover {
                ul {
                    display: block;
                }
                a {
                    &::after {
                        background-image: url('../icons/arrow-1.svg');
                    }
                }
            }  
            & > a {
                display: block;
                font-weight: 700;
                font-size: 16px;
                color: $whiteColor;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 12px;
                    height: 12px;
                    background-image: url('../icons/arrow.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
            
            & > ul {
                padding-left: 30px;
                margin-bottom: 15px;
                display: none;
                & > li {
                    & > a {
                        font-weight: 500;
                        font-size: 14px;
                        color: $whiteColor;
                    }
                }
            }
        }
    }
}