.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000040;
    z-index: 100;
    &__dialog {
        width: 300px;
        background-color: $whiteColor;
        margin: 100px auto;
        padding: 15px;
    }
    &__content {
        &-title {
            font-weight: 400;
            font-size: 22px;
            line-height: 120%;
            color: $blackColor;
            margin-bottom: 20px;
        }
        &-subtitle {
            font-weight: 700;
            font-size: 30px;
            line-height: 120%;
            color: $pinkColor400;
            margin-bottom: 20px;
        }
        &-btn {
            background-color: $pinkColor400;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 25px;
            margin-bottom: 30px;
            width: 100%;
            font-weight: 700;
            font-size: 22px;
            line-height: 120%;
            color: $whiteColor;
            transition: all .4s ease;
        }
        &-primary {
            &:hover {
                background-color: $pinkColor300;
            }
        }
        &-secondery {
            background-color: $whiteColor;
            border: 2px solid $pinkColor400;
            color: $pinkColor400;
            &:hover {
                border: 2px solid $pinkColor300;
                color: $pinkColor300;
            }
        }
    }
}
.hide {
    display: none;
}
.show {
    display: block;
    
}