.statistic {
    padding: 120px 0;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    &__item {
        position: relative;
        width: 200px;
        height: 260px;
        &-number {
            font-weight: 700;
            font-size: 80px;
            line-height: 120%;
            color: $blackColor;
            padding: 20px;
            border: 2px solid $blackColor;
            border-radius: 100%;
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }
        &-title {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 400;
            font-size: 22px;
            line-height: 120%;
            color: $blackColor;
            text-align: center;
            width: 100%;
            max-width: 180px;
        }
    }
}