@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #000;
}

a {
  text-decoration: none;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
button:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

input {
  display: block;
}
input:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

label {
  display: block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.body__container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}

.open-menu .header__nav-mobile {
  right: 0;
}
.open-menu .hamburger span:first-child {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.open-menu .hamburger span:nth-child(2) {
  opacity: 0;
}
.open-menu .hamburger span:last-child {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 100%;
  background-color: #cecece;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.header {
  background-color: #f53277;
  padding: 10px 0;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 50;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 35px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 4px;
}
.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo-text {
  font-weight: 700;
  line-height: 120%;
  font-size: 18px;
  color: #fff;
}
.header__logo-select {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  background-image: url("../icons/header__city.svg");
  background-repeat: no-repeat;
  padding-left: 15px;
  opacity: 0.7;
  cursor: pointer;
}
.header__favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 4px;
}
.header__favorites-icons {
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__favorites-icons > img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__favorites-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}
.header__favorites-count {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}
.header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 30px;
}
.header__nav > ul > li {
  padding: 10px 20px;
  position: relative;
  border: 2px solid #fff;
  max-width: 200px;
  width: 200px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__nav > ul > li:first-child {
  width: 130px;
}
.header__nav > ul > li:last-child {
  width: 140px;
}
.header__nav > ul > li:last-child::after {
  display: none;
}
.header__nav > ul > li::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../icons/down_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.header__nav > ul > li:hover {
  background-color: #fff;
}
.header__nav > ul > li:hover a {
  color: #f53277;
  position: relative;
}
.header__nav > ul > li:hover ul {
  display: block;
}
.header__nav > ul > li:hover::after {
  background-image: url("../icons/up-pink.svg");
}
.header__nav > ul > li > a {
  font-weight: 700;
  font-size: 100%;
  color: #fff;
  position: relative;
}
.header__nav > ul > li > ul {
  padding: 15px 10px;
  position: absolute;
  width: 120%;
  top: 40px;
  left: -24px;
  background-color: #fff;
  display: none;
}
.header__nav > ul > li > ul > li {
  margin-bottom: 15px;
}
.header__nav > ul > li > ul > li > a {
  font-weight: 700;
  font-size: 100%;
  line-height: 120%;
  color: #f53277;
}

.custom-logo {
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #fff;
  border-radius: 100%;
}

.header__nav-mobile {
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #f53277;
  height: 100vh;
  width: 70%;
  padding: 70px 0 0 30px;
  z-index: 20;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__nav-mobile > ul > li {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-bottom: 30px;
}
.header__nav-mobile > ul > li:hover ul {
  display: block;
}
.header__nav-mobile > ul > li:hover a::after {
  background-image: url("../icons/arrow-1.svg");
}
.header__nav-mobile > ul > li > a {
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  position: relative;
}
.header__nav-mobile > ul > li > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url("../icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__nav-mobile > ul > li > a:last-child::after {
  display: none;
}
.header__nav-mobile > ul > li > ul {
  padding-left: 30px;
  margin-bottom: 15px;
  display: none;
}
.header__nav-mobile > ul > li > ul > li > a {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.hamburger {
  width: 36px;
  height: 36px;
  border: 1px solid #fff;
  position: relative;
  z-index: 30;
  display: none;
}
.hamburger > span {
  position: absolute;
  display: block;
  width: 70%;
  height: 2px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hamburger > span:first-child {
  top: 30%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hamburger > span:nth-child(2) {
  top: 50%;
}
.hamburger > span:last-child {
  top: 69%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main {
  padding: 120px 0;
}
.main__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #000;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.main__descr {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}
.main__subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}
.main__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.main__users-user {
  width: 100%;
  max-width: 252px;
}
.main__users-user--img {
  width: 252px;
  height: 252px;
}
.main__users-user--img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__users-user--title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #f53277;
  text-align: center;
  margin-bottom: 20px;
}
.main__users-user--descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  text-align: left;
  margin-bottom: 20px;
}
.main__users-user--cytis {
  border: 1px solid #f53277;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #f53277;
  text-align: left;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main__users-user--cytis:hover {
  border: 1px solid #b1184e;
  color: #b1184e;
}
.main__users-user--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.statistic {
  padding: 120px 0;
}
.statistic__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.statistic__item {
  position: relative;
  width: 200px;
  height: 260px;
}
.statistic__item-number {
  font-weight: 700;
  font-size: 80px;
  line-height: 120%;
  color: #000;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.statistic__item-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #000;
  text-align: center;
  width: 100%;
  max-width: 180px;
}

.cities {
  padding: 120px 0;
}
.cities__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.cities__item {
  position: relative;
  height: 200px;
}
.cities__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2509803922);
  z-index: 10;
}
.cities__item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.cities__item-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cities__item-title {
  position: absolute;
  bottom: 35px;
  left: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #fff;
  z-index: 11;
}
.cities__item-bottom {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 5px;
  width: 100%;
  z-index: 11;
}
.cities__item-bottom--info {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  z-index: 2;
}

.about {
  padding: 120px 0;
}
.about__information-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #424550;
  margin-bottom: 20px;
}
.about__information-list {
  padding-left: 30px;
  margin-bottom: 30px;
}
.about__information-list--item {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #424550;
  margin-bottom: 15px;
  position: relative;
}
.about__information-list--item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url("../icons/right_pink.svg");
  background-repeat: no-repeat;
}

.footer {
  padding: 120px;
  border-top: 3px solid #f53277;
  background-color: #424550;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.footer__nav-title {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 15px;
}
.footer__nav > ul > li > a {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}
.footer__warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-bottom: 30px;
}
.footer__warning-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 4px;
  width: 100%;
  max-width: 400px;
}
.footer__warning-item--text {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}
.footer__warning-item--doctor {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}
.footer__warning-item--icon {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  position: relative;
}
.footer__warning-item--icon > img {
  width: 24px;
  height: 24px;
}
.footer__warning-item--icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.footer__warning-item--info {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}
.footer__contacts-email {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 30px;
}
.footer__contacts-email > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.footer__contacts-copy {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2509803922);
  z-index: 100;
}
.popup__dialog {
  width: 300px;
  background-color: #fff;
  margin: 100px auto;
  padding: 15px;
}
.popup__content-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #000;
  margin-bottom: 20px;
}
.popup__content-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #f53277;
  margin-bottom: 20px;
}
.popup__content-btn {
  background-color: #f53277;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 25px;
  margin-bottom: 30px;
  width: 100%;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.popup__content-primary:hover {
  background-color: #b1184e;
}
.popup__content-secondery {
  background-color: #fff;
  border: 2px solid #f53277;
  color: #f53277;
}
.popup__content-secondery:hover {
  border: 2px solid #b1184e;
  color: #b1184e;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.no18 {
  padding: 120px;
  height: 50vh;
}
.no18__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 120%;
  color: #f53277;
}

.select__cities {
  background-color: rgba(255, 255, 255, 0.5647058824);
  position: fixed;
  width: 100%;
}
.select__cities-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.select__cities-dialog {
  margin: 100px auto;
  border: 2px solid #f53277;
  width: 80%;
  height: auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5647058824);
}
.select__cities-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 20px;
  cursor: pointer;
}
.select__cities-search {
  width: 100%;
  margin-bottom: 50px;
}
.select__cities-form {
  width: 100%;
}
.select__cities-input {
  width: 100%;
  padding: 15px;
}
.select__cities-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
  margin-bottom: 20px;
}
.select__cities-block--letter {
  font-weight: 700;
  font-size: 14px;
  color: #f53277;
}
.select__cities-block-сity {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  padding: 0;
  margin-bottom: 10px;
  display: block;
}

.select-hide {
  display: none;
}

.select-show {
  display: block;
}

@media (max-width: 998px) {
  .header__favorites-text {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__hamburger {
    display: block;
  }
  .hamburger {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */