@import 'fonts';
@import 'colors';
@import 'normalize';
@import 'global';
@import '../block/header';
@import '../block/nav-mobile';
@import '../block/hamburger';
@import '../block/main';
@import '../block/statistic';
@import '../block/cities';

@import 'media';